.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
.innerloop{
height: 100%;
}
body{
    /* background-color: whitesmoke; */
    background: #4DA0B0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D39D38, #4DA0B0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D39D38, #4DA0B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#bckspace
{
    width: 54px;
    height: 60px;
    margin-left: 10px;
}

input{
    font-size: 34px;
    width: 405px;
    border: 5px solid black;
    border-radius: 21px;
    font-family:  sans-serif;
}
button{
    width: 100px;
    height: 57px;
    font-size: 40px;
    background-color:  #4CAF50;
    border-radius: 20px;
    color: white;
}
button:hover{
    
  background-color: black;
    color: white;
    border: 2px solid #4CAF50;
}
.calculator{
    display: inline-block;
    background-color: black;
    padding:23px;
    border-radius: 36px;  
    border: 10px solid rgb(93, 91, 245);
}
tr{
    height: 80px;
}
input{
    height: 100px;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
